<ejs-splitter #horizontal height='210px' width='100%' >
  <e-panes>
       <e-pane size='25%'>
           <ng-template #content>
                   <div>Left pane<div>
            </ng-template>
        </e-pane>
     <e-pane size='50%'>
           <ng-template #content>
                   <div>Middle pane<div>
            </ng-template>
        </e-pane>
     <e-pane size='25%'>
           <ng-template #content>
                    <div>Right pane<div>
            </ng-template>
        </e-pane>
    </e-panes>
</ejs-splitter>
